@import "tailwindcss";

/* width */
.green-scroll-bar::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
.green-scroll-bar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.green-scroll-bar::-webkit-scrollbar-thumb {
  background: oklch(50.8% 0.118 165.612);
}

/* React Select Styling.. */
.react-select__control {
  border: 1px solid #e5e7eb !important;
}

@media (max-width: 1024px) {
  .react-select__single-value,
  .react-select--is-disabled,
  .react-select__menu {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .react-select__indicator-separator {
    display: none !important;
  }

  .react-select__control {
    padding: 0.005rem 0 !important;
  }
}
